[core]
	editor = vim
[alias]
	amend = commit --amend -v
	ci = commit -v
	cloneurl = config --get remote.origin.url
	co = checkout
	df = diff --cached
	fa = fetch --all
	lg = log -p
	locate = !sh -c 'git ls-files | grep --color=auto "$1"' -
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	rlog = log --pretty=format:\"%h %C(auto,green)%cr%C(auto,reset) %cn %C(auto,green)%s%C(auto,reset)\"
	st = status
[color]
	ui = auto
[merge]
	conflictstyle = diff3
[push]
	default = simple
[apply]
	whitespace = fix
