[core]
	editor = vim
[alias]
	amend = commit --amend -v
	ci = commit -v
	df = diff --cached
	lg = log -p
	rlog = log --pretty=format:\"%h %C(auto,green)%cr%C(auto,reset) %cn %C(auto,green)%s%C(auto,reset)\"
	st = status
[merge]
	conflictstyle = diff3
