[core]
	editor = vim
[alias]
	amend = commit --amend -v
	ci = commit -v
	co = checkout
	df = diff --cached
	lg = log -p
	locate = !sh -c 'git ls-files | grep --color=auto "$1"' -
	rlog = log --pretty=format:\"%h %C(auto,green)%cr%C(auto,reset) %cn %C(auto,green)%s%C(auto,reset)\"
	st = status
[color]
	ui = auto
[merge]
	conflictstyle = diff3
